# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
env/
venv/
ENV/
.venv/

# macOS files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
.idea/
.vscode/

# pyenv
.python-version

# pipenv
Pipfile.lock

# mypy
.mypy_cache/

# pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code settings
.vscode/

# Logs
*.log

# Temporary or backup files
*~
*.bak
*.swp
*.swo
